<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cursos"></ion-back-button>
    </ion-buttons>
    <ion-title>PROGRAMACION DE APLICACIONES MOVILES_005D</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-card>
      <ion-card-header>
        <h4 style="color: blue;">Profesor</h4>
        <ion-text>
          <p>ALEJANDRO SEBASTIAN SEPULVEDA MONTERO</p>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
          <ion-item [href]="['/lista']">Lista</ion-item>
      </ion-card-content>
    </ion-card>

</ion-content>